{% extends 'index.html' %}
{% block 'b1' %}
<h1 align="center"><font color="black">Change Password</font></h1>
<form method="post" action="{% url 'changepassword' %}">
    {% csrf_token %}
    <table align="center" border="2">
        <tr></tr>
        <td> Enter User Name</td>
        <td><input type="text" name="uname" required</td>
        </tr>
        <td> Enter Old Password</td>
        <td><input type="text" name="opwd" required</td>
        </tr>
        </tr>
        <td> Enter New Password</td>
        <td><input type="text" name="npwd" required</td>
        </tr>
        <tr>
        <td align="center"><input type="submit" value="Submit"</td>
         <td align="center"><input type="reset" value="Clear"</td>
    </tr>
    </table>
</form>
{% endblock %}